html {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    text-align: center;
    
}

.header {
    border-bottom : 1px solid seashell;
    height: 69px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    background-color: black;
    position: absolute;
    flex-grow:2;


}

.header img {
    padding-left: 10px;
    height: 50px;
    align-items: flex-start; 
    float: left;
    
}

a {
    color: seashell;
    text-decoration: underline;
}

nav { 
    text-align: right;
    flex-grow: 1;
    flex-wrap: nowrap;
    
}

nav span {
    display: inline-block;
    padding: 20px 10px;
    flex-wrap: nowrap;
}

main {
    margin:auto;
    width: 1200px;
    margin: auto;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}   

#mission {
    background-image: url(./images/img-mission-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-top: 70px;
    
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

.container {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
}

.store {
    width: 1000px;
    margin: auto;
    padding: 70px 0;
  }
  
  .teas {
    padding-right: 20px;
  }
  
  .teas img {
    height: 200px;
    width: 300px;
  }

  .flex-container.locations {
    padding-top: 5px;
}

#locations {
    background-image: url(./images/img-locations-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-top: 70px;
}

#locations .container {
    margin: auto;
    width: 1100px;
}

.location {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

